body{
  margin:0;
  font-family:sans-serif;
  background:#0f172a;
  color:#fff;
}

/* LOADING */
#loading{
  position:fixed;
  inset:0;
  background:#000;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:9999;
}

.logo{
  font-size:22px;
  animation:pulse 1s infinite;
}

@keyframes pulse{
  0%{opacity:.3}
  50%{opacity:1}
  100%{opacity:.3}
}

/* PAGE */
.page{display:none;padding:15px;}
.page.active{display:block;animation:slide .3s;}
@keyframes slide{from{transform:translateX(50px);opacity:0}}

/* HEADER */
.header{text-align:center;}
.glow{text-shadow:0 0 10px #00f;}
.typing{animation:typing 3s infinite;}
@keyframes typing{0%{opacity:.3}50%{opacity:1}}

/* CARD */
.card{
  background:#1e293b;
  padding:15px;
  border-radius:16px;
  margin:10px 0;
  box-shadow:0 0 20px rgba(0,0,255,.3);
}

.center{text-align:center}

/* MENU */
.menu-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.menu-card{
  background:#020617;
  padding:20px;
  border-radius:16px;
  text-align:center;
  box-shadow:0 0 20px #00f;
  transition:.3s;
}

.menu-card:active{
  transform:scale(.95);
}

/* BUTTON */
.btn{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#2563eb;
  color:#fff;
}

.danger{background:red}

/* NAVBAR */
.navbar{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#020617;
  padding:10px;
}

/* FLOAT */
.fab{
  position:fixed;
  bottom:80px;
  right:15px;
  background:#25D366;
  padding:15px;
  border-radius:50%;
}

/* DARK */
.dark{
  background:#000;
}
